extends layout.jade

block content
  header(class='post-header')
    h2(class='post-title') The Placing Task
  div(class='post-description')
    p.
      The <a href="http://www.multimediaeval.org/mediaeval2015/placing2015/">Placing Task</a> at 
      the <a href="http://www.multimediaeval.org/mediaeval2015/">MediaEval 2015 benchmark</a> 
      initiative requires participants to estimate the locations where multimedia items 
      (photos or videos) were captured.
      We provide live leaderboards of both sub-tasks (mobility and locale) to encourage 
      participants to work on their approaches throughout the coming months.
    p.
      The leaderboards are based on <b>30%</b> of the test data; only the final results will be computed
      across all released test data. Shown are for each team the <span class="important">Median Error</span> 
      of the latest submission (<span class="important">in kilometers</span>), the total number of runs 
      submitted and the Median Error of the team's best submission.
    p.
      For simplicity, both tasks are currently evaluated according to the 
      <a href="http://geographiclib.sourceforge.net/geod.html">Karney distance</a> between 
      predicted and actual location. The Karney distance is the main metric of the
      mobility sub-task. The main metric for the Locale sub-task will be based
      on the hierarchical distance (to be added later).
    p.
      The <span class="important">organizer baselines</span> (ORGA_BASELINE) were computed with
      <a href="https://github.com/chauff/ImageLocationEstimation">this</a> (mobility) and this (locale) toolkit respectively.
       
    p.
      <span style="background-color:#ff9999">Highlighted runs</span> are currently being processed by the backend. Please
      refresh the leaderbaord from time to time to check the status.
  header(class='post-header')
    h2(class='post-title') Mobility Leaderboard
  div(class='post-description')
      table(class='pure-table pure-table-horizontal pure-table-striped')
        thead
          tr
            th Team 
            th(class='error') Latest Error (in km)
            th #Runs
            th Lowest Error (in km)
        tbody
          each r in mobilityRanking
            if r.valid<0
              tr(class='invalid')
                td(class='firstCol') #{r.name}
                td #{Number(r.medianError/1000).toFixed(2)}
                td #{r.updates}
                td #{Number(r.minError/1000).toFixed(2)}
            else
              tr
                td(class='firstCol') #{r.name}
                td #{Number(r.medianError/1000).toFixed(2)}
                td #{r.updates}
                td #{Number(r.minError/1000).toFixed(2)}
                             
  header(class='post-header')
    h2(class='post-title') Locale Leaderboard
  div(class='post-description')
      table(class='pure-table pure-table-horizontal pure-table-striped')
        thead
          tr
            th Team 
            th Latest Error (in km)
            th #Runs
            th Lowest Error (in km)
        tbody
          each r in localeRanking
            if r.valid<0
              tr(class='invalid')
                td(class='firstCol') #{r.name}
                td #{Number(r.medianError/1000).toFixed(2)}
                td #{r.updates}
                td #{Number(r.minError/1000).toFixed(2)}
            else
              tr
                td(class='firstCol') #{r.name}
                td #{Number(r.medianError/1000).toFixed(2)}
                td #{r.updates}
                td #{Number(r.minError/1000).toFixed(2)}